.home {
  height: 100vh;
}

.bgimage {
  height: 100%;
  width: 100%;
}

.into-img {
  height: 100%;
  width: 100%;
}

.para {
  position: absolute;
  top: 20%;
  margin-bottom: 700px;
}

.para h1 {
  font-size: 205px;
  font-weight: 700;
  color: #050380;
  margin-right: 25rem;
  padding: 3rem;
  text-shadow: 0 0 15px #ececf5;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
  cursor: pointer;
}

.para:hover h1 {
  transform: translateY(-10px);
}

.para h2 {
  font-size: 200px;
  font-weight: 700;
  color: #d10a03;
  margin-left: 25rem;
  text-shadow: 0 0 10px #f1efef;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
  cursor: pointer;
}

.para:hover h2 {
  transform: translateY(-10px);
}

.para p {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-right: 30rem;
  margin-left: 10rem;
  padding: 3rem;
  cursor: pointer;
}

.rt {
  position: absolute;
  top: 85%;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 5px;
  margin-left: 58rem;
  padding: 2rem;
}

.rt .btn {
  margin-left: 20rem;
  margin-right: 1rem;
}

.lt {
  position: absolute;
  top: 85%;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 5px;
  margin-right: 58rem;
  padding: 2rem;
}

.lt .btn {
  margin-left: 20rem;
  margin-right: 1rem;
}

.chitr {
  position: absolute;
  top: 15%;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 5px;
  margin-left: 65rem;
  padding: 2.5rem;
}

.chitr img {
  width: 250px;
  height: 250px;
  margin: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(252, 250, 250);
  padding: 1rem;
  cursor: pointer;
  transform: scale(1) rotate(0deg);
  transition: all 0.5s linear;
}

.chitr img:hover {
  transform: scale(1.1) rotate(0.5deg);
}
