@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  background-color: rgb(255, 249, 249);
}

h1,
h4,
P,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: rgb(248, 238, 32);
  color: #222;
  border-radius: 15rem;
  border: 1px solid #000;
  font-weight: bold;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(235, 234, 234, 0.2);
  color: #fff;
  transition: 0.3s;
}
